# Expo/React Native Environment Variables
# Variables prefixed with EXPO_PUBLIC_ are exposed to the client

EXPO_PUBLIC_API_URL=http://localhost:5000
EXPO_PUBLIC_MCAPTCHA_URL=https://captcha.vps.prakhya.id
EXPO_PUBLIC_MCAPTCHA_SITE_KEY=xDpgSpCZJQVamuVnJDfmn1mi6rG2BQeR